/* ====================================== */
/* ====================================== */
/*                                        */
/*            CSS SELECTORS              */
/*                                        */
/* ====================================== */
/* ====================================== */


:root {
    --bgSapphBlue: #08244B;
    // var(--bgSapphBlue);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color:  var(--bgSapphBlue);
    color: lightblue;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
}

main{
    width: 100vw;
    color: rgb(197, 228, 238);
    z-index: 99;
    width: 100%;
    position: absolute;
    font-family: komet, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: center;
}


h1, h2, h3, p {
    color: white;
    opacity:85%;
    font-style: normal;
}

h1{
    font-family: reross-rectangular, sans-serif;
    font-weight: 400;
}

h2{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
}

h3{
    font-size: 1.5rem;
}

/* ====================================== */
/* ====================================== */
/*                                        */
/*            GENERAL STYLES              */
/*                                        */
/* ====================================== */
/* ====================================== */

/* MOBILE: If the browser window is smaller than 768px */

hr.c-hor-rule{
    border: 1px solid white;
    border-bottom: 1px solid rgba(255,255,255,1);
    opacity:80%;
}

.c-section-wrapper{
    min-height: 100%;
}

.c-translate-up-sm-2{
    transform: translateY(-2rem);
}

.c-scroll-snap-container{
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
}

.c-scroll-snap-child{
    scroll-snap-align: start;
}

.c-spacer{
    min-height: 25vh;
    background-color: yellow;
    opacity: 50%;
}

/* TABLET: If the browser window is 768px or larger (For text adjustment)*/
@media only screen and (min-width: 768px) {

    .c-translate-up-sm-2{
        transform: translateY(-1rem);
    }
}

/* ====================================== */
/* ====================================== */
/*                                        */
/*            NAV BAR STYLES              */
/*                                        */
/* ====================================== */
/* ====================================== */

/* MOBILE: If the browser window is smaller than 768px */

/* Ultimate Parent Nav */
.c-nav-container{
    height: 100vh;
    position: fixed;
    width: 3.125em;
    z-index : 10000;
}

/* Apply filter effect here for liquid dots */
.c-nav-ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    list-style-type: none; 
    padding: 0;
    margin: 0 auto ;
}

.c-nav-ul a{
    text-decoration: none;
    color: white;
    opacity:85%;
    font-family: acumin-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
}

.c-nav-ul svg{
    fill: white;
    height: 15px;
    width: 15px;
    transition: transform 0.25s ease-out, opacity 0.25s ease-out;
}

.c-svg-container:hover{
    transform: scale(1.35);
    opacity: 100%;
    border-color: cornflowerblue;
}

.c-svg-container:hover svg{
    opacity: 100%;
    fill: cornflowerblue;
}


.c-svg-container{
    margin: 2px auto;
    border-radius: 50%;
    border: 1px solid white;
    height: 24px;
    width: 24px;
    opacity: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    transition:  transform 0.25s ease-out, opacity 0.25s ease-out, background-color 0.5s ease-out;
}

.c-svg-selected svg{
    fill-opacity: 100%;
    height: 25px;
    width: 25px;
    fill: var(--bgSapphBlue);
}

.c-svg-container.c-svg-selected{
    height: 30px;
    width: 30px;
    opacity: 80%;
    background-color: white;
}

.c-svg-container.c-svg-selected:hover{
    opacity: 80%;
    background-color: white;
    transform: scale(1);
    border-color: white;
}

.c-svg-container.c-svg-selected:hover svg{
    fill-opacity: 100%;
    fill: var(--bgSapphBlue);
}

.c-dots{
    background-color: white;
    opacity: 25%;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin: 10px auto;
}

/* TABLET: If the browser window is 768px or larger (For text adjustment)*/
@media only screen and (min-width: 768px) {
    .c-nav-container{
        width: 5em;
    }
}

/* DESKTOP: If the browser window is 992px or larger */
@media only screen and (min-width: 992px) {
    .c-nav-container{
        width: 7em;
    }
}


/* ====================================== */
/* ====================================== */
/*                                        */
/*            SECTION START               */
/*                                        */
/* ====================================== */
/* ====================================== */

/* MOBILE: If the browser window is smaller than 768px */
.c-image-holder{
    background-color: none;
    border: 2px solid white;
    opacity: 95%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.c-separator{
    display: none;
}
.c-separator-content{
    display: none;
}
.c-section-container{
    max-width: 200px;
}

.c-section-container p{
    font-size: 0.75rem;
    letter-spacing: 1px;
}

.c-section-container h3{
    font-size: 1rem;
}

.c-p-extension{
    display: none;
}

.c-section-container p {
    font-size: .6rem;
}

/* TABLET: If the browser window is 768px or larger (For text adjustment)*/
@media only screen and (min-width: 768px) {
    .c-image-holder{
        background-color: none;
        border: 2px solid white;
        opacity: 95%;
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }

    .c-section-container{
        max-width: 400px;
    }

    .c-separator{
        display: block;
    }

    .c-section-container h3{
        font-size: 1.5rem;
    }

    .c-section-container p {
        max-width: 300px;
        margin: auto;
        font-size: .75rem;
    }

}

/* DESKTOP: If the browser window is 992px or larger */
@media only screen and (min-width: 992px) {
    .c-section-container{
        max-width: 510px;
    }

    .c-separator{
        display: inline;
    }

    .c-p-extension{
        display: inline;
    }

    .c-section-container p {
        max-width: none;
    }

    .c-separator-content{
        display: inline;
    }

    
}
