/* ====================================== */
/* ====================================== */
/*                                        */
/*            CSS SELECTORS              */
/*                                        */
/* ====================================== */
/* ====================================== */


:root {
    --bgSapphBlue: #08244B;
    // var(--bgSapphBlue);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:  var(--bgSapphBlue);
    color: lightblue;
}

.c-overlay{
    background-color: rgba(0,0,0, 0.25);
}

.c-overlay2{
    background-image: linear-gradient(rgba(62, 94, 201, 0.25),rgba(0,0,0, 0.15));
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
}

main{
    width: 100vw;
    color: rgb(197, 228, 238);
    z-index: 99;
    width: 100%;
    position: absolute;
    font-family: komet, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: center;
}


h1, h2, h3, p {
    color: white;
    opacity:85%;
    font-style: normal;
}

h1{
    font-family: reross-rectangular, sans-serif;
    font-weight: 400;
}

h2{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
}

h3{
    font-size: 1.5rem;
}

/* ====================================== */
/* ====================================== */
/*                                        */
/*            GENERAL STYLES              */
/*                                        */
/* ====================================== */
/* ====================================== */

/* MOBILE: If the browser window is smaller than 768px */

hr.c-hor-rule{
    border: 1px solid white;
    border-bottom: 1px solid rgba(255,255,255,1);
    opacity:80%;
}

.c-section-wrapper{
    min-height: 100%;
}

.c-translate-up-sm-2{
    transform: translateY(-2rem);
}

.c-scroll-snap-container{
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}

.c-scroll-snap-child{
    scroll-snap-align: start;
}

.c-spacer{
    min-height: 25vh;
    //background-color: yellow;
    opacity: 50%;
}

/* TABLET: If the browser window is 768px or larger (For text adjustment)*/
@media only screen and (min-width: 768px) {

    .c-scroll-snap-container{
        scroll-snap-type: y mandatory;
    }

    .c-translate-up-sm-2{
        transform: translateY(-1rem);
    }
}

/* ====================================== */
/* ====================================== */
/*                                        */
/*            NAV BAR STYLES              */
/*                                        */
/* ====================================== */
/* ====================================== */

/* MOBILE: If the browser window is smaller than 768px */

/* Ultimate Parent Nav */
.c-nav-container{
    height: 100vh;
    position: fixed;
    width: 3.125em;
    z-index : 10000;
}

.c-nav-ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    list-style-type: none; 
    padding: 0;
    margin: 0 auto ;
   // max-height: 1000px;
}

/* Background for each 'Major' dot */
.c-svg-container-overlay{
    margin: 2px auto;
    border-radius: 50%;
    border: 1px solid white;
    height: 24px;
    width: 24px;
    background-color: var(--bgSapphBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    transition:  transform 0.25s ease-out, opacity 0.25s ease-out, background-color 0.5s ease-out;
}
    /* Change color & expand on hover, svg changes and expands as well */
    .c-svg-container-overlay:hover{
        transform: scale(1.35);
        border-color: cornflowerblue;
    }

    .c-svg-container-overlay:hover .c-major-dot{
        transform: scale(1.35);
    }

    .c-svg-container-overlay:hover svg{
        opacity: 100%;
        fill: cornflowerblue;
    }
        /* When selected DO NOT Change color & expand on hover */
        .c-svg-container-overlay.c-svg-selected{
            height: 30px;
            width: 30px;
            opacity: 80%;
            background-color: white;
        }
        
        .c-svg-container-overlay.c-svg-selected:hover{
            background-color: white;
            transform: scale(1);
            border-color: white;
        }


/* Inner Icon for each 'Major' dot */
.c-nav-ul svg{
    fill: white;
    height: 15px;
    width: 15px;
    transition: transform 0.25s ease-out, opacity 0.25s ease-out;
}
    /* inner icon should expand from 15 to 25 when not selected */
    .c-svg-selected svg{
        height: 25px;
        width: 25px;
        fill: var(--bgSapphBlue);
    }
        /* when not selected  inner icon size should not change */
        .c-svg-container-overlay.c-svg-selected:hover svg{
            fill: var(--bgSapphBlue);
        }


/* spacer dots*/
.c-dots-overlay{
    opacity: 100%;
    height: 7px;
    width: 7px;
    margin: 10px auto;
}

/* TABLET: If the browser window is 768px or larger (For text adjustment)*/
@media only screen and (min-width: 768px) {
    .c-nav-container{
        width: 5em;
    }
}

/* DESKTOP: If the browser window is 992px or larger */
@media only screen and (min-width: 992px) {
    .c-nav-container{
        width: 7em;
    }
}

/* ====================================== */
/* ====================================== */
/*                                        */
/*            NAV BAR EFFECTS             */
/*                                        */
/* ====================================== */
/* ====================================== */

.c-filter{
    filter:url(#liquid);
}

.c-dots{
    position: relative;
    background-color: white;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    margin: 10px auto;
    transform: translateY(-2px);
}

    .c-dots:before{
        content:'';
        position: absolute;
        top:-5px;
        left:-5px;
        right:-5px;
        bottom:-5px;
        background-color: white;
        z-index: -1;
        border-radius: 50%;
        filter: blur(3px);
    }


.c-major-dot{
    height: 24px;
    width: 24px;
    background-color: white;
    border-radius: 50%;
    margin: 2px auto;
    border: 1px solid white;
    transform: translateY(-2px);
}

    .c-major-dot::before{
        content:'';
        position: absolute;
        top:-5px;
        left:-5px;
        right:-5px;
        bottom:-5px;
        background-color: white;
        z-index: -1;
        border-radius: 50%;
        filter: blur(3px);
    }

    .c-major-dot.c-svg-selected{
        height: 30px;
        width: 30px;
    }


.c-dot-move{
    position: relative;
    border-radius: 50%;
    background-color: white;
    width: 8px;
    height: 8px;
    left: 50%;
    transform: translate(-4px, 9px);
    animation: moving 15s linear infinite;
}
    .c-dot-move:before{
        content:'';
        position: absolute;
        top:-5px;
        left:-5px;
        right:-5px;
        bottom:-5px;
        background-color: white;
        z-index: -1;
        border-radius: 50%;
        filter: blur(5px);
    }

/* ====================================== */
/* ====================================== */
/*                                        */
/*            SECTION START               */
/*                                        */
/* ====================================== */
/* ====================================== */

/* MOBILE: If the browser window is smaller than 768px */
.push-right{
    width: 95%;
    margin-left: 5%;
}
.c-photo{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 2px solid white;
}

.c-image-holder{
    background-color: none;
    //border: 2px solid white;
    opacity: 95%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.c-separator{
    display: none;
}
.c-separator-content{
    display: none;
}
.c-section-container{
    max-width: 200px;
}

.c-section-container p{
    font-size: 0.75rem;
    letter-spacing: 1px;
}

.c-section-container h3{
    font-size: 1rem;
}

.c-p-extension{
    display: none;
}

.c-section-container p {
    font-size: .6rem;
}

/* TABLET: If the browser window is 768px or larger (For text adjustment)*/
@media only screen and (min-width: 768px) {
    .c-image-holder{
        background-color: none;
        //border: 2px solid white;
        opacity: 95%;
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }

    .c-photo{
        border-radius: 50%;
        height: 150px;
        width: 150px;
        border: 2px solid white;
    }

    .c-section-container{
        max-width: 400px;
    }

    .c-separator{
        display: block;
    }

    .c-section-container h3{
        font-size: 1.5rem;
    }

    .c-section-container p {
        max-width: 300px;
        margin: auto;
        font-size: .75rem;
    }

}

/* DESKTOP: If the browser window is 992px or larger */
@media only screen and (min-width: 992px) {
    .c-section-container{
        max-width: 510px;
    }

    .c-separator{
        display: inline;
    }

    .c-p-extension{
        display: inline;
    }

    .c-section-container p {
        max-width: none;
    }

    .c-separator-content{
        display: inline;
    }

    
}


/* ====================================== */
/* ====================================== */
/*                                        */
/*            PROJECTS START               */
/*                                        */
/* ====================================== */
/* ====================================== */

/* XS phones: If the browser window is smaller than 768px */

.c-projects-header{
    max-width: 225px;
}

.c-projects-body{
    max-width: 200px;
}

    .c-projects-body p{
       font-size: 0.8rem;
       font-weight: bold
    }

    .c-projects-body h3{
        font-size: 1.2rem;
        font-weight: bold
    }

    .c-card{
        max-width: 18rem;
        max-height: 350px;

    }

/* S phones: If the browser window is 360px or larger (For text adjustment)*/
@media only screen and (min-width: 360px) {
    .c-projects-body{
        max-width: 250px;
    }
}

/* TABLET: If the browser window is 768px or larger (For text adjustment)*/
@media only screen and (min-width: 768px) {
    .c-projects-header{
        min-width: 415px;
    }

    .c-projects-body{
        max-width: 50rem;
    }
}

/* DESKTOP: If the browser window is 992px or larger */
@media only screen and (min-width: 992px) {
    .c-projects-header{
        min-width: 500px;
    }

    .c-projects-body{
        width: 60rem;
        //background-color: aqua;
    }
}



/* ====================================== */
/* ====================================== */
/*                                        */
/*            TOOLS START               */
/*                                        */
/* ====================================== */
/* ====================================== */

/* MOBILE: If the browser window is smaller than 768px */

// .c-projects-header{
//     max-width: 225px;
// }

/* TABLET: If the browser window is 768px or larger (For text adjustment)*/
@media only screen and (min-width: 768px) {
    // .c-projects-header{
    //     max-width: 225px;
    // }
}

/* DESKTOP: If the browser window is 992px or larger */
@media only screen and (min-width: 992px) {
    // .c-projects-header{
    //     max-width: 225px;
    // }
}


/* ====================================== */
/* ====================================== */
/*                                        */
/*            CONTACT START               */
/*                                        */
/* ====================================== */
/* ====================================== */

/* MOBILE: If the browser window is smaller than 768px */

#gmap_canvas{
	width: 100%;
    height: 40vh;
}

.footer-adjustment p{
   font-size: small;
}

.footer-adjustment svg:hover{
    fill: cornflowerblue;
}

.c-buttones{
    width: 100%;
}

/* TABLET: If the browser window is 768px or larger (For text adjustment)*/
@media only screen and (min-width: 768px) {
    .form-height{
        max-height: 300px;
        height: 45vh;
    }

    .push-up{
        transform: translateY(-65px);
    }

    #gmap_canvas{
        width: 100%;
        height: 50vh;
    }
}

/* DESKTOP: If the browser window is 992px or larger */
@media only screen and (min-width: 992px) {
    #gmap_canvas{
        width: 100%;
        height: 40vh;
    }
}